.layout {
  display: grid;
  grid-template-columns: 80px 1fr;
}

@media (min-width: 1024px) {
  .layout {
    grid-template-columns: 256px 1fr;
  }
}


app-sidebar {
  height: 100vh;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.main-content {
  width: 100%;
  max-width: 1100px;  
  margin: 0 auto;      
  padding: 24px;     
  flex: 1;
}

.content {
  flex: 1;
  overflow-y: auto;
}
