<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
    <div class="grid grid-cols-[155px_1fr] gap-2 items-center">
        <label for="name">SubService name</label>
        <input formControlName="name" type="text" placeholder="Service name"
            class="input border border-border bg-surface text-md py-1 px-3 shadow-sm focus:outline-none focus:ring-2 focus:ring-primary" />
    </div>

    <div class="grid grid-cols-[155px_1fr] gap-2 items-center">
        <label for="service" class=" border-border bg-surface">Service</label>
        <select class="select select-primary border text-md ps-3 border-border bg-surface" formControlName="service">
            <option disabled class="py-2 px-3 border-border bg-surface">Choose a service</option>
            <option *ngFor="let s of services || []" [value]="s._id" class="p-2 border-border bg-surface">
                {{ s.name }}
            </option>
        </select>
    </div>

    <div class="flex justify-end gap-3">
        <button type="button" variant="secondary" appButton>
            Cancel
        </button>
        <button type="submit" appButton>
            Save
        </button>
    </div>
</form>