<!-- app-table.component.html -->
<div class="border border-border border-b-0 rounded-xl w-full overflow-x-auto">
  <table class="app-table">
    <thead>
      <tr>
        <th>#</th>
        @for (col of columns; track col.field) {
          <th>{{ col.label }}</th>
        }
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (loading) {
        @for (row of skeletonRowIndices; track row) {
          <tr class="skeleton-row">
            <td><span class="skeleton-cell"></span></td>
            @for (col of columns; track col.field) {
              <td><span class="skeleton-cell"></span></td>
            }
            <td><span class="skeleton-cell skeleton-cell-sm"></span></td>
          </tr>
        }
      } @else {
        @for (item of data; track $index) {
          <ng-container
            *ngTemplateOutlet="rowTemplate; context: { $implicit: item, index: $index }">
          </ng-container>
        }
      }
    </tbody>
  </table>
</div>