.control input,
.control textarea {
  width: 100%;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc9c;
  border-radius: 0.5rem;
  outline: none;
  margin-right: 0.5rem;
}

.control input:focus,
.control textarea:focus {
  border-color: var(--color-grey-100)
}

.control input:disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}

.control input:disabled + label,
.control input:disabled {
  opacity: 0.7;
}