<nav class="bg-white border-b border-gray-100 h-16 px-6 flex items-center justify-between">

  <div class="flex items-center gap-4">
    <h1 class="text-lg font-semibold ">{{title}}</h1>
  </div>

  <!-- Right -->
  <div class="flex items-center gap-4">

    <!-- Notification -->
    <button class="relative  hover:text-gray-700">
      <span class="material-icons text-lg">notifications</span>
      <span class="absolute -top-1 -right-1 w-2 h-2 bg-red-500 rounded-full">
      </span>
    </button>

    <div class="flex items-center gap-2 cursor-pointer">
      <img src="https://i.pravatar.cc/40" class="w-8 h-8 rounded-full object-cover" alt="user" />
      <span class="text-sm font-medium ">
        Farah
      </span>
    </div>

  </div>

</nav>